@media (max-width: 1900px) {}

@media (max-width: 1440px) {
    .container {
        padding-top: calc(10px + (30 - 10) * ((100vw - 320px) / (1440 - 320)));
        padding-bottom: calc(10px + (30 - 10) * ((100vw - 320px) / (1440 - 320)));
    }

    .header {
        padding-left: calc(20px + (100 - 20) * ((100vw - 320px) / (1440 - 320)));
        padding-right: calc(20px + (100 - 20) * ((100vw - 320px) / (1440 - 320)));
        font-size: calc(12px + (18 - 12) * ((100vw - 320px) / (1440 - 320)));
    }

    .header__logo img {
        width: calc(100px + (1080 - 900) * ((100vw - 320px) / (1440 - 320)));
    }

    .header__dark {
        padding-top: calc(10px + (150 - 10) * ((100vw - 320px) / (1440 - 320)));
        padding-bottom: calc(10px + (150 - 10) * ((100vw - 320px) / (1440 - 320)));
    }

    .header__title {
        padding-bottom: calc(10px + (30 - 10) * ((100vw - 320px) / (1440 - 320)));
    }

    .header__title h1 {
        font-size: calc(12px + (55 - 12) * ((100vw - 320px) / (1440 - 320)));
        padding-bottom: calc(6px + (15 - 6) * ((100vw - 320px) / (1440 - 320)));
        padding-top: calc(4px + (10 - 4) * ((100vw - 320px) / (1440 - 320)));


    }

    .header__title h2 {
        font-size: calc(12px + (50 - 12) * ((100vw - 320px) / (1440 - 320)));
        padding-left: calc(20px + (300 - 20) * ((100vw - 320px) / (1440 - 320)));
        padding-right: calc(20px + (300 - 20) * ((100vw - 320px) / (1440 - 320)));
    }

    .header__color {
        font-size: calc(5px + (22 - 5) * ((100vw - 320px) / (1440 - 320)));
    }

    .problems__title h1 {
        font-size: calc(10px + (52 - 10) * ((100vw - 320px) / (1440 - 320)));

    }

    .problems__col1 {
        display: flex;
        flex-wrap: wrap;
        gap: calc(5px + (50 - 5) * ((100vw - 320px) / (1440 - 320)));
        padding-bottom: calc(10px + (80 - 10) * ((100vw - 320px) / (1440 - 320)));
    }

    .problem__img img {
        max-width: calc(90px + (1080 - 90) * ((100vw - 320px) / (1440 - 320)));


    }

    .problem__text {
        font-size: calc(10px + (22 - 10) * ((100vw - 320px) / (1440 - 320)));
    }

    .problem-question {
        font-size: calc(10px + (22 - 10) * ((100vw - 320px) / (1440 - 320)));
        gap: calc(10px + (30 - 10) * ((100vw - 320px) / (1440 - 320)));

    }

    .problem-question::before {
        background-size: calc(50px + (70 - 50) * ((100vw - 320px) / (1440 - 320)));
        ;
    }

    .scheme__title h1 {
        font-size: calc(10px + (52 - 10) * ((100vw - 320px) / (1440 - 320)));
    }

    .scheme__text {
        font-size: calc(8px + (22 - 8) * ((100vw - 320px) / (1440 - 320)));

    }

    .scheme__img {
        margin-bottom: calc(20px + (40 - 20) * ((100vw - 320px) / (1440 - 320)));

    }

    .scheme__img img {
        max-width: calc(300px + (580 - 300) * ((100vw - 320px) / (1440 - 320)));
    }
    .scheme__text2 {
        font-size: calc(6px + (18 - 6) * ((100vw - 320px) / (1440 - 320)));

    }

    @media (max-width: 1200px) {}

    @media (max-width: 1024px) {}

    @media (max-width: 992px) {
        .problems__item {
            width: 100%;
        }
    }

    @media (max-width: 768px) {
        .header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            text-align: center;
        }

        .header__logo {
            margin: 0 auto;
        }

        .header__address {
            margin: 0 auto;
        }

        .header__telephone {
            margin: 0 auto;
        }

        .header__mail {
            margin: 0 auto;

        }

        /* .problem__img img {
        max-width: calc(100px + (1080 - 900) * ((100vw - 320px) / (1440 - 320)));
    } */




    }

    @media (max-width: 576px) {}

    @media (max-width: 360px) {
        .header {
            justify-content: center;
            align-items: center;
        }
    }