@media (max-width: 1900px) {}

@media (max-width: 1440px) {
    .container {
        padding-top: calc(10px + (30 - 10) * ((100vw - 320px) / (1440 - 320)));
        padding-bottom: calc(10px + (30 - 10) * ((100vw - 320px) / (1440 - 320)));
    }

    .header {
        padding-left: calc(20px + (100 - 20) * ((100vw - 320px) / (1440 - 320)));
        padding-right: calc(20px + (100 - 20) * ((100vw - 320px) / (1440 - 320)));
        font-size: calc(12px + (18 - 12) * ((100vw - 320px) / (1440 - 320)));
    }

    .header__logo img {
        width: calc(100px + (1080 - 900) * ((100vw - 320px) / (1440 - 320)));
    }

    .header__dark {
        padding-top: calc(10px + (150 - 10) * ((100vw - 320px) / (1440 - 320)));
        padding-bottom: calc(10px + (150 - 10) * ((100vw - 320px) / (1440 - 320)));
    }

    .header__title {
        padding-bottom: calc(10px + (30 - 10) * ((100vw - 320px) / (1440 - 320)));
    }

    .header__title h1 {
        font-size: calc(12px + (55 - 12) * ((100vw - 320px) / (1440 - 320)));
        padding-bottom: calc(6px + (15 - 6) * ((100vw - 320px) / (1440 - 320)));
        padding-top: calc(4px + (10 - 4) * ((100vw - 320px) / (1440 - 320)));

    }

    .header__title h2 {
        font-size: calc(12px + (50 - 12) * ((100vw - 320px) / (1440 - 320)));
        padding-left: calc(20px + (300 - 20) * ((100vw - 320px) / (1440 - 320)));
        padding-right: calc(20px + (300 - 20) * ((100vw - 320px) / (1440 - 320)));
    }

    .header__color {
        font-size: calc(5px + (22 - 5) * ((100vw - 320px) / (1440 - 320)));
    }

    .problems__title h1 {
        font-size: calc(10px + (52 - 10) * ((100vw - 320px) / (1440 - 320)));
    }

    .problems__col1 {
        display: flex;
        flex-wrap: wrap;
        gap: calc(5px + (50 - 5) * ((100vw - 320px) / (1440 - 320)));
        padding-bottom: calc(10px + (80 - 10) * ((100vw - 320px) / (1440 - 320)));
    }

    .problem__img img {
        max-width: calc(90px + (1080 - 90) * ((100vw - 320px) / (1440 - 320)));

    }

    .problem__text {
        font-size: calc(10px + (22 - 10) * ((100vw - 320px) / (1440 - 320)));
    }

    .problem-question {
        font-size: calc(10px + (22 - 10) * ((100vw - 320px) / (1440 - 320)));
        gap: calc(10px + (30 - 10) * ((100vw - 320px) / (1440 - 320)));

    }

    .problem-question::before {
        background-size: calc(50px + (70 - 50) * ((100vw - 320px) / (1440 - 320)));
        ;
    }

    .scheme__title h1 {
        font-size: calc(10px + (52 - 10) * ((100vw - 320px) / (1440 - 320)));
    }

    .scheme__text {
        font-size: calc(8px + (22 - 8) * ((100vw - 320px) / (1440 - 320)));

    }

    .scheme__img {
        margin-bottom: calc(20px + (40 - 20) * ((100vw - 320px) / (1440 - 320)));

    }

    .scheme__img img {
        max-width: calc(300px + (580 - 300) * ((100vw - 320px) / (1440 - 320)));
    }

    .scheme__text2 {
        font-size: calc(6px + (18 - 6) * ((100vw - 320px) / (1440 - 320)));
    }

    .watering__title h1 {
        font-size: calc(10px + (52 - 10) * ((100vw - 320px) / (1440 - 320)));
    }

    .watering__subtitle h2 {
        font-size: calc(6px + (14 - 6) * ((100vw - 320px) / (1440 - 320)));
    }

    .watering__subtitle {
        padding-left: calc(15px + (90 - 15) * ((100vw - 320px) / (1440 - 320)));
    }

    .watering__subtitle::before {
        width: calc(30px + (96 - 30) * ((100vw - 320px) / (1440 - 320)));
        height: calc(30px + (96 - 30) * ((100vw - 320px) / (1440 - 320)));
        background-size: calc(20px + (70 - 20) * ((100vw - 320px) / (1440 - 320)));
    }

    .watering__text {
        padding-left: calc(20px + (80 - 20) * ((100vw - 320px) / (1440 - 320)));
        min-height: calc(20px + (170 - 20) * ((100vw - 320px) / (1440 - 320)));
        font-size: calc(6px + (18 - 6) * ((100vw - 320px) / (1440 - 320)));
    }

    .watering__desc {
        font-size: calc(6px + (14 - 6) * ((100vw - 320px) / (1440 - 320)));
        min-height: calc(20px + (100 - 20) * ((100vw - 320px) / (1440 - 320)));
    }

    .watering__img img {
        max-width: calc(40px + (114 - 40) * ((100vw - 320px) / (1440 - 320)));
    }

    .integrate__title h1 {
        font-size: calc(10px + (52 - 10) * ((100vw - 320px) / (1440 - 320)));
    }

    .integration__text {
        font-size: calc(10px + (26 - 10) * ((100vw - 320px) / (1440 - 320)));
    }

    .result__title {
        font-size: calc(10px + (52 - 10) * ((100vw - 320px) / (1440 - 320)));
    }
    .result__text p {
        font-size: calc(10px + (22 - 10) * ((100vw - 320px) / (1440 - 320)));

      }
}

@media (max-width: 1200px) {
    .watering__col {
        max-width: 360px;
    }

    .integration__col1 {
        flex: 0 1 35%;
        padding-top: 40px;
        padding-bottom: 40px;
        font-size: 12px;
        justify-content: center;
        padding-left: 2px;

    }

    .integration__col1::before {
        left: 100px;
    }

    .integration__text {
        font-size: 18px;
        /* padding-left: 70px; */
        padding-bottom: 0;
        padding-top: 30px;
        background-color: lightskyblue;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .result__img {
        width: 424px;
        height: 280px;
    }

}

@media (max-width: 1024px) {
    .watering__col {
        max-width: 300px;
    }

}

@media (max-width: 992px) {
    .problems__item {
        width: 100%;
    }

}

@media (max-width: 768px) {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        text-align: center;
    }

    .header__logo {
        margin: 0 auto;
    }

    .header__address {
        margin: 0 auto;
    }

    .header__telephone {
        margin: 0 auto;
    }

    .header__mail {
        margin: 0 auto;

    }

    .watering__content {
        display: flex;
        flex-direction: column;
    }

    .watering__col {
        margin: 0 auto;
    }

    .integration__col1::before {
        left: 90px;
    }

    .integration__text {
        font-size: 16px;
        /* padding-left: 2px; */
        padding-right: 5px;
    }

    .result__cols {
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 576px) {
    .watering__col {
        max-width: calc(150px + (300 - 150) * ((100vw - 320px) / (1440 - 320)));
    }

    .integration__col1 {
        flex: 0 1 50%;
        flex-direction: column;
        padding-left: 30px;
    }

    .integration__col1::before {
        left: 100px;
    }


    .integration__text2 {
        font-size: 12px;
        padding-top: 10px;
    }


    .integration__span {
        font-size: 16px;
    }
}

@media (max-width: 360px) {
    .header {
        justify-content: center;
        align-items: center;
    }

    .integration__cols {
        gap: 25px;
    }

    .integration__col1 {
        flex-direction: row;
        flex: 0 1 70%;
        padding-bottom: 0px;
        padding-top: 0px;
        height: 150px;
    }

    .integration__col1::before {
        left: 80px;
        width: 65px;
        height: 65px;
    }

    .integration__text {
        font-size: 14px;
        padding-left: 20px;
    }

    .integration__col2 {
        gap: 10px;
    }

    .integration__subtitle {
        font-size: 16px;
    }

    .integration__text2 {
        padding-right: 90px;
    }

    .integration__text2::before {
        content: "";
        width: 80px;
        height: 80px;
        left: -110px;
        border: 1px solid white;
        border: 3px solid lightskyblue;

    }

    .integration__span {
        font-size: 10px;
    }

    .result__img {
        width: 250px;
        height: 200px;
    }
    .result__cols1 {
        border: 5px solid #a8d7e1;
        width: 91%;
      }

      .result__border {
        border: 20px solid rgb(77, 82, 90);
      }

}

@media (max-width: 320px) {
    .integration__col1 {
        flex-direction: row;
    }

    .integration__col1::before {
        left: 70px;
    }

    .integration__text2 {
        padding-right: 90px;
    }

    .integration__text2::before {
        content: "";
        width: 60px;
        height: 60px;
        left: -80px;
        border: 1px solid white;
        border: 3px solid lightskyblue;
    }

    .result__cols1 {
        border: 2px solid #a8d7e1;
        width: 89%;
      }

    .result__img {
        width: 212px;
        height: 156px;
      }
}