.watering {}

.watering__title h1 {
    text-align: center;
}

.watering__content {
    display: flex;
    border: 1px solid red;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.watering__col {
    border: 1px solid red;
    max-width: 400px;
}


.watering__subtitle {
    text-align: center;
    position: relative;
    background-color: lightskyblue;
    text-align: left;
    font-size: 14px;
    padding-left: 90px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 5px;
}

.watering__subtitle::before {
    content: "";
    width: 96px;
    height: 96px;
    position: absolute;
    left: -27px;
    top: -15px;
    border: 2px solid white;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../img/watering/ready.png");
    background-color: lightskyblue;
    border-radius: 50%;
}

.watering__text {
    padding-left: 80px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: rgb(242, 242, 242);
    display: flex;
    align-items: center;
    min-height: 170px;
}

.watering__desc {
    font-size: 18px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 5px;
    display: flex;
    align-items: center;
    min-height: 100px;
    font-weight: 700;
    text-align: justify;
}

.watering__img {
    text-align: center;
}

.watering__img img {
    max-width: 114px;
    width: calc(100px + (1080 - 900) * ((100vw - 320px) / (1440 - 320)));
}


.watering__desc p {}